<html>
<head>
<title>Login Page</title>
</head>
<body>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>

<!-- Text input-->
<div class="form-group">
  <form method = "post" action="">
  <label class="col-md-4 control-label" for="User Name">User Name</label>  
  <div class="col-md-4">
  <input id="User Name" name="User Name" type="text" placeholder="Enter User Name" class="form-control input-md">

  </div>
  </form>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter Password" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="login"></label>
  <div class="col-md-4">
    <button id="login" name="login" class="btn btn-primary">Login</button>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="forgotpassword"></label>
  <div class="col-md-8">
    <button id="forgotpassword" name="forgotpassword" class="btn btn-success">Forgot Password??</button>
    <button id="signup" name="signup" class="btn btn-danger">Sign Up</button>
  </div>
</div>

</fieldset>
</form>

</body>
</html>