@()

<html>
<div id="bg">    
<head>
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/style.css")'>
<h1>Online Bookstore and Rental System</h1><br>
<title>Login Page</title>
</head>
<body>
<form class="form-horizontal" method="post" action="/login" >


<!-- Form Name -->
<legend>Login</legend>

<!-- Text input-->
<div class="form-group">

  <label class="col-md-4 control-label" for="User Name">User Name</label>
  <div class="col-md-4">
  <input id="userName" name="userName" type="text" placeholder="Enter User Name" class="form-control input-md input1">

  </div>

</div>





<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter Password" class="form-control input-md input1">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="login"></label>
  <div class="col-md-4">
    <button id="login" name="login" class="button btn-primary" type="submit">Login</button>
  </div>
</div>
</form>
<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="forgotpassword" ></label>
  <div class="col-md-8">
    <button id="forgotpassword" name="forgotpassword" class="button btn-success" onclick="location.href='forgotpassword'">Forgot Password??</button>
    <button id="signup" name="signup" class="button btn-danger" onclick="location.href='register'">Sign Up</button>
  </div>
</div>



</body>
</div>
</html>