<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Reset Password</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">User Name</label>  
  <div class="col-md-4">
  <input id="username" name="username" type="text" placeholder="Enter User name" class="form-control input-md">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="securityquestion">Security Question</label>
  <div class="col-md-4">
    <select id="securityquestion" name="securityquestion" class="form-control">
      <option value="Mother's Maiden name?">Mother's Maiden name?</option>
      <option value="Name of pet?">Name of pet?</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="securityanswer">Answer</label>  
  <div class="col-md-4">
  <input id="securityanswer" name="securityanswer" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-8">
    <button id="submit" name="submit" class="btn btn-default">Submit</button>
    <button id="Reset" name="Reset" class="btn btn-default">Reset</button>
  </div>
</div>

</fieldset>
</form>